*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: #FEFCFB;
    font-family: 'Poppins', sans-serif;

}

.wrapper {
    max-width: 80%;
    margin: 25px 140px;
}

/* navbar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 130px;
    height: 24px;
}

.nav{
    margin-left: 236px;
    margin-right: 150px;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 32px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 400;
}

.logger {
    display: flex;
    gap: 56px;
}

.login {
    color: #FD8D3A;
    font-weight: 600;
    font-size: 16px;
    border: none;
    background-color: #FEFCFB;
    cursor: pointer;
}

.signup{
    background-color: #FD8D3A;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 5px;
}

