@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: #FEFCFB;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    max-width: 80%;
    margin: 25px 140px;
}

/* navbar */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}





.logo{
    width: 130px;
    height: 24px;
}

.nav{
    margin-left: 236px;
    margin-right: 150px;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 32px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.logger {
    display: flex;
    gap: 56px;
}

.login {
    color: #FD8D3A;
    font-weight: 600;
    font-size: 16px;
    border: none;
    background-color: #FEFCFB;
    cursor: pointer;
}

.signup{
    background-color: #FD8D3A;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 5px;
}

/* hero*/
main {
   display: flex;
  max-width: 1200px;
  margin: auto;
}

.left-col {
   padding-top: 85px;
   padding-right: 96px;
}

.left-col h1 {
    font-size: 64px;
    font-weight: 700;
    font-style: "Volkhov", "sans-serif";
    width: 521px;
    line-height: 70px;
}


.left-col h1 span {
    color: #FA7436;
}

.left-col p {
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 400;
    line-height: 40px;
    width: 407px;
    margin-top: 20px;
}

.right-col img{
  width: 600px;
}
.discover {
    background-color: #FFFFFF;
    color: #FA7436;
    border: 1px solid #FA7436;
    width: 178px;
    height: 60px;
    border-radius: 5px;
    font-size:  18px;
    cursor: pointer;
}

.card1 {
    position: absolute;
    top: 150px;
    left: 700px;
}

.card2 {
    position: absolute;
    top: 300px;
    left: 1100px;
}

.card3 {
    position: absolute;
    top: 400px;
    left: 740px;
}

.planes {
    position: absolute;
    top: 70px;
    left: 730px;
    width: 570px;
}

form {
    display: flex;
    justify-content: space-around;
    
}

.container-option{
    display: flex;
    flex-direction: column;
    padding: 50px;
    
}

.explore {
    padding: 50px;
}

.choose-travel {
  max-width: 1200px;
    margin: auto;
    /* margin-top: 65px;
    margin-left: 70px; */
    width: 841px;
    height: 124px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

#locations, #date, #guest {
    font-size: 16px;
    font-weight: 500;
    color: black;
    font-weight: bold;
}

label {
    font-size: 12px;
    margin-top: 10px;
    font-weight: 400;
    color: #666666;
    width: 126px;
}

/*button*/
.explore input{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 21px;
    background-color: #FD8D3A;
    border-radius: 5px;
    width: 165px;
    border: none;
}

select {
    background-color: #FFFFFF;
    border: none;
}


/* end navbar */


/* Ventajas  */
.advantages {
  margin-top: 200px;
  margin-bottom: 150px;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  
}

header h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
  font-family: 'Volkhov';
}

header h1 span {
  color: #FA7436;
}

header p {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  width: 482px;
  color: #666666;
  text-align: center;
  margin-top: 20px;
}

header .plane-icon {
  margin-left: 60px;
  position: absolute;
  right: 210px;
}


.cards {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.card {
  width: 370px;
  height: 278px;
}

.card img {
  margin-left: 40px;
  margin-right: 40px;
}

.card h3 {
  margin-top: 48px;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  margin-left: 40px;
  margin-right: 40px;
}

.card p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  width: 290px;
  color: #666666;
  margin-bottom: 37px;
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
}


/* End Ventajas */

/* Discounts */

.title-disc {
    font-family: "Volkhov", serif;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 30px;
}
.paragraph-disc{
  margin-bottom: 30px;
  text-align: center;
}
.discounts-elements{
  max-width: 1200px;
  margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FEFCFB;
}

.discounts-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-discount {
  width: 270px;
  height:426px;
    /* padding: 0.5rem; */
    margin-right: 10px;
    box-shadow: -7px 11px 43px -9px rgba(0,0,0,0.1);
}

.info-disc{
    display: flex;
    flex-direction: column;
}

.btns-disc{
    background-color: orangered;
}

.city-container, .country-container{
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.country-name{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.name-place{
    margin-left: 0.5rem;
} 

.city-container p {
    color: #222222;
    font-weight: 500;
}

.icon-gps{
    margin-right: 4px;
}

.num-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.final-price{
    font-weight: 600;
    padding: 4px;
    border-radius: 8px;
    color: #FA7436;
    background-color: #FFE7DB;
}

.regular-price{
    color: #999999;
    text-decoration: line-through;
}

.score-disc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.num-disc{
    display: flex;
    justify-content: space-between;
}


/* End Discounts */

.latest-blogs {
    margin-top: 20px;
    max-width: 1200px;
    height: 805px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .title-lb{
    text-align: center;
    font-size: 48px;
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 54px;
    
  }
  
  .latest-blog {
    color: #FA7436;
    
  }
  
  .blog-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .blog {
    flex: 1 0 10%; /*Para que cada blog ocupe el 25% del ancho */
    margin: 10px;
    text-align: left;
    
  }
  
  .blog img {
    width: 270px;
    height: 270px;
    border-radius: 8px;
    /* height: auto; */
  }

  .blog h3,.date {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .blog h3 {
    margin-top: 10px;
    font-size: 18px;
    
  }
  
  .date {
    margin-top: 5px;
    color: #888;
  }
  
  .carousel-indicators {
    text-align: center;
    margin-top: 20px;
  }
  
  .indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #E5E5E5;
    border-radius: 50%;
    margin: 0 5px;
  }
  
  .active{
    background-color:  #FA7436;
  }

  .subscription{
    max-width: 1200px;
    height: 416px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 60px;
    background-color: #FA7436;
    border-radius: 16px;
    margin-bottom: 100px;
  }

  .title-subscription {
    text-align: center;
    font-size: 48px;
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 54px;
    color: #fff;
  }

  .form-subscription{
    margin: auto;
    width: 647px;
    
  }
  
  .input-padding{
     background-color: #fff;
     padding: 5px;
     display: flex;
     border-radius: 10px;
  }
  .form-subscription input {
    width:500px;
    border: none;
    border-radius: 10px;
  }
  .form-subscription button{
    width: 132px;
    height: 50px;
    background-color: #FA7436;
    border-radius: 8px;
    border: none;
  }

  .footer{
    font-size: 18px;
    max-width: 1200px;
    margin: auto;
    color: #666666;
  }

  .container {
    display: grid;
    grid-template-columns: 55% 15% 15% 15%;
    
}

.grid-div {
    
    text-align: left;
}



.footer h3{
  margin-bottom: 25px;
  font-weight: 500;
  color: black;
}

.footer li{
  list-style: none;
  line-height: 40px;
  
  font-weight: 400;
}

.footer .social-icons{
  display: flex;
  flex-direction: row;
}

.social-icons .circle{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right:18px ;
  
}

.social-icons .orange-circle{
  background-color: #FA7436;
}

.footer hr{
  margin: 20px 0 0 0;
}
.copy{
  
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* vacation plan */

.vacational-plan {
  max-width: 1200px;
  margin-top: 120px;
  margin-bottom: 120px;

}

#vacation-title {
  font-size: 48px;
  font-weight: 700;
  font-style: "Volkhov", sans-serif;
  width: 521px;
  line-height: 54px;
  
}

.vacational-plan p {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  width: 521px;
  height: 64px;
  margin-bottom: 64px;
  margin-top: 24px;
  color: #666666;
  text-align: center;
  margin-left: 444px;
}


.vacational-plan h1 span {
  color: #FA7436;
}

.label h1 {
  text-align: center;
  font-family: 'Volkhov';
  margin-left: 444px;
}

.label img {
  position: absolute;
  left: 970px;
  top: 2450px;
}

.container-vacational  .card-vacation img {
  width: 369px;
  height: 327px;
}

.container-vacational{
  display: flex;
  gap: 30px;
  margin-left: 90px;
}

.city-vacation h4  {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  color: #222222;
  width: 164px;
  margin-top: 18px;
}

.city-vacation p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  width: 112px;
  margin: 0px;
  margin-left: 20px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.city-container {
  position: relative;
}

.city-price h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  width: 81px;
  color: #FA7436;
  margin: 0px;
  margin-top: 18px;
  margin-left: 110px;
}

.city-price p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  width: 24px;
  color: #666666;
  margin: 0px;
  margin-left: 150px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.bottom-card {
  display: flex;

}

.card-vacation{
  background-color: #FFFFFF;
}

.arrow-vacation-left{
  width: 40px;
  height: 40px;
  color: #FFFFFF;
  background-color: #999999;
  border-radius: 50%;
  margin-top: 145px;
  margin-left: 170px ;
}

.arrow-vacation-right{
  width: 40px;
  height: 40px;
  background-color: #FA7436;
  color: #FFFFFF;
  border-radius: 50%;
  margin-top: 145px;
  margin-left: 240px;
}

#arrow-vector-1, #arrow-vector-2, #arrow-vector-3{
  width: 18.79px;
  height: 16px;
  position: absolute;
  margin-top: -85px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

#star-1, #star-2, #star-3 {
  width: 16px;
  height: 16px;
  position: absolute;
  margin-top: -85px;
  margin-left: 290px;
  margin-right: 0px;
  margin-bottom: 0px;
}

/* about-us  */
.about-us {
  max-width: 1200px;
  margin-top: 120px;
  margin-bottom: 120px;
  display: flex;
  justify-content: space-around;
}

.right-column {
  background-color: #FFFFFF;
  width: 504px;
  height: 245px;
}

.right-column p {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  width: 402px;
  height: 96px;
  color: #444444;
  margin-top: 28px;
  margin-left: 34px;
  margin-right: 68px;
  margin-bottom: 121px;
}

.right-column h6{
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  color: #222222;
  margin-top: -90px;
  margin-left: 34px;

}

.right-column .about-city{
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  margin-top: -2px;
}

.left-column {
  margin-left: 326px;
}

.left-column h1 {
  font-size: 48px;
  font-weight: 700;
  font-style: "Volkhov", sans-serif;
  width: 521px;
  line-height: 54px;
}

.left-column span {
  color: #FA7436;
}

.left-column p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  width: 394px;
  height: 64px;
  color:  #666666;
  font-style: "Roboto";
  margin-top: 24px;
}

.arrow-aboutus-right{
  width: 40px;
  height: 40px;
  background-color: #FA7436;
  color: #FFFFFF;
  border-radius: 50%;
  margin-top: 18px;
  margin-left: 70px;

}

.arrow-aboutus-left{
  width: 40px;
  height: 40px;
  color: #FFFFFF;
  background-color: #999999;
  border-radius: 50%;
  margin-left: -120px;
}

.photo {
  position: absolute;
  width: 68px;
  height: 68px;
  top: 3210px;
}

.planes-about{
  position: absolute;
  top: 3180px;
  right: 100px;
}

.ceo h6 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;
  color: #8a8686;
  margin-top: -190px;
  padding: 40px;
}

.ceo p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  color: #8a8686;
  margin-top: -80px;
  padding: 40px;
}


